*{
padding: 0;
margin:0;
font-size: 0;
}

html,body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	max-width:100%;
	max-height:100%;
	min-width:325px;
}

body{
	background:#555;
}

#panin, #botin{
	display:table;
	width:100%;
	height:10vh;
	max-width:110vh;
	margin:0 auto;
}

#pan,#bot{
	width:100%;
	height:10vh;
	background:#333;
	margin:0 auto;
	padding:0;
	display:block;
}

.tcell{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

.nondisp-tcell{
	display:none !important;
}

#bot{
	position:relative;
	display:table;
	z-index:100;
}

#upload{
	background:#999;
}

.up_but{
	width: 8vh;
	height: 8vh;
	background: url(pics/upload_80.png);
	background-size:contain;
	background-repeat:no-repeat !important;
	position:relative;
	overflow:hidden;
	right: 2vh;
	top: 0 !important;
	float:right;
}

#but{
	width:8vh;
	height: 8vh;
    opacity: 0;
	position:relative;
}

#upload{
	opacity:0;
	height: 8vh;
	width: 8vh;
	top: 0;
	position:relative;
}

#bl_tcell{
	text-align:center;
	vertical-align:middle;
}

#br_tcell{
	text-align:center;
	vertical-align:middle;
}

#br_tcell a{
	display:block;
	width:8vh;
	height:8vh;
	right:2vh;
	margin:0 auto;
	position:relative;
	float:right;
}

#bl_tcell a{
	display:block;
	width:8vh;
	height:8vh;
	margin:0 auto;
	position:relative;
}

#br_tcell img, #bl_tcell img{
	height:8vh;

}

#inp-wr{
	width:100%;
	height:6vh;
	background:#cdcdcd;
	border-radius:3vh;
	background-image: url(pics/url_ic_4.png);
	background-position: left center;
	background-size: contain;
	background-repeat: no-repeat;
	display:table;
	display:none;
    position: relative;
}

#inp-wr-left-cell{
	display:table-cell;
	width:6vh;
}

#inp-wr-right-cell{
	display:table-cell;
	width:6vh;
	vertical-align: middle;
}


#submR{
	width: 8vh;
    height: 8vh;
	background: url(pics/url_80.png);
	background-size:contain;
	background-repeat:no-repeat !important;
    border: none;
    outline: none;
	display:none;
}

#submRph{
	width: 8vh;
    height: 8vh;
	background: url(pics/url_33.png);
	background-size:contain;
	background-repeat:no-repeat !important;
    border: none;
    outline: none;
	display:block;	
}

#inp-wr-mid-cell{
	display:table-cell;
	text-align:center;
	}

#url-up-inp{
	background-color:transparent;
	height: 6vh;
	width: 100%;
	outline:none;
	border:none;
	font-size: 3vh;
	color: #333;
}

input[type="text"]::-webkit-input-placeholder {
color: #777;
} 
input[type="text"]::-moz-placeholder {
color: #777;
}

.logo{
	position:relative;
	float:right;
	width: auto;
	height: 7vh;
	top: 1vh;
	right: 1vh;
}

.logo img{
	height:7vh;
}

#url-up{
	width: 8vh;
	height: 8vh;
	position:relative;
	overflow:hidden;
	left: 2vh;
	top: 0 !important;
	float:left;
}

#dwl_but{
	width: 8vh;
	height: 8vh;
	background: url(pics/download_80.png);
	background-size:contain;
	background-repeat:no-repeat !important;
	position:relative;
	overflow:hidden;
	left: 2vh;
	top: 0 !important;
	float:left;
	display:none;
}

#dwl_ph{
	width: 8vh;
	height: 8vh;
	background: url(pics/download_33.png);
	background-size:contain;
	background-repeat:no-repeat !important;
	position:relative;
	overflow:hidden;
	left: 2vh;
	top: 0 !important;
	float:left;
	display:block;
}

#dwl_ph2{
	width: 8vh;
	height: 8vh;
	background: url(pics/download_80.gif);
	background-size:contain;
	background-repeat:no-repeat !important;
	position:relative;
	overflow:hidden;
	right: 2vh;
	top: 0 !important;
	float:right;
	display:none;
}

#download{
	display:block;
	width:100%;
	height:100%;
}

.clear{
	clear:both;
}

#wsp{
	background:#777 url(pics/man.png);
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	display:table;
	text-align:center;
	vertical-align:middle;
	margin:0 auto;
	width:80vh;
	height:80vh;
}

#wsp span{
	display:table-cell;
	vertical-align:middle;
	
	background-image:url('');
    background-size:cover;
	background-position:center;
}

#centerlog{
	position:relative;
	width:100px;
	color:yellow;
	top:0px;
	font-size:12px;
}

#slider-contentbox {	
	position: relative;
    height: 3vh;
    width: 181px;
    padding: 1vh 0;
    background-color: #CDCDCD;
    left: 2vh;
    float: left;
    border-radius: 3vh;;
}

#slider-valuebox {
	position: relative;
    height: 0.4vh;
    top: 1.3vh;
    background-color: #666;
	background-color: #666;
}

.slider {
	position: relative;
	text-align: center;
	cursor: move;
	padding: 0;
	margin: 0;
}
			 
.slider div { }
 
#slider-thumb { 
	background-color: #2c2d2d;
	top: -2.3vh !important;
	left: 1vh;
	color: #000;
	height: 5vh !important;
	width: 5vh !important;
	border-radius: 3vh;
}

#slidhold{
	display:none;
	width:100%;
    height: 5vh;	
	background-color: #CDCDCD;
	border-radius:3vh;
}

#shinner{
	display:table-cell;
	text-align:center;
	vertical-align:middle !important;
}

#slider{
	position: relative;
    height: 0.4vh;
    background-color: #666;
	margin: 0 2.5vh;
	border:none;
}

#sqlury{
	display:table;
	width:100%;
    height: 5vh;	
	/* background-color: #CDCDCD; */
	border-radius:3vh;	
}

#sqlin{
	display:table-cell;
	text-align:center;
	vertical-align:middle !important;
}

#sqlin img{
	height:5vh;
	width:auto;
}

#pan span.tcell{
	vertical-align:middle !important;
}

.ui-slider-handle{
	background-color: #2c2d2d !important;	
	height: 5vh !important;
	width: 5vh !important;
	border-radius: 3vh !important;
	border:none !important;
	outline:none !important;
	top: -2.3vh !important;
	margin-left: -2.5vh !important;
	margin-right: -2.5vh !important;
	left:1vw;	
}

#canvas{
	position:relative;
	width: 80vh;
	height: 80vh;
	display:block;
	margin: 0 auto;
}

#imageHolder{
	position:relative;
	text-align:center;
	width:100vw;
	height:80vh;
	display:table;
}

#imageHolder span{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

#canvasHolder{
	position:absolute;
	top:10vh;
	width:100vw;
	height:80vh;
	text-align:center;
	display:table;
	padding:0;
}

#canwrap{
	position:relative;
	width:100vw;
	height:80vh;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	padding:0;
}

#srcimg{
	max-height: 80vh;
	max-width: 80vh;
	display:block;
	margin:0 auto;
	display:none;
}

#silder_mid{
	position:relative;
	margin:0 auto;
	float:none;
	display:inline-block;
}

.preloader{
	background-image: url(pics/preloader.gif) !important;
	background-repeat:no-repeat !important;
	background-size:contain !important;
	background-position:center !important;
	
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

#m_tcell, #bm_tcell{
	width:80vh;
}

#bm_tcell{
	text-align:center;
	vertical-align:middle;
}

#banner{
	display:none;
}

@media all and (orientation:portrait){
	
	#l_tcell, #r_tcell, #bl_tcell, #br_tcell{
		width:12vh;
	}

	#m_tcell, #bm_tcell{
		width:auto;
	}
	
	#wsp{
		width: 100vw;
		height: 100vw;
		position: relative;
		display:table;
	}
	#wsp span{
		display:table-cell;
		vertical-align:middle;
	}
	
	#srcimg{
		max-height: 100vw;
		max-width: 100vw;
	}
	.up_but{
		width: 8vh;
		height: 8vh;
		top: 1vh;
	}
	#upload{
		opacity: 0;
		height: 8vh;
		width: 8vh;
		top: 0;
	}

	#pan, #bot{
		height:10vh;
	}
	#upload{
		position: relative;
	}
	#centerlog{	
		font-size:3vh;
		width:30vw;
		display:inline;
	}
	
	#slider-contentbox {
		left: 0;
	}
	
	body{
		min-width:325px;
	}
	
	#canvas{
		position:relative;
		width: 100vw;
		height: 100vw;
	}
}



